/* Стили для основной структуры страницы */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #9EDDFF;
}

header {
    background-color: #6499E9;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 24px;
    padding-bottom: 20px;
}

input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

button {
    padding: 10px 20px;
    background-color: #0074d9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

/* Стили для фото и контейнера фото */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background-color: #A6F6FF;
}

.photo {
    margin: 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.photo img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.photo p {
    margin: 10px 0;
    font-size: 14px;
}

/* Стили для футера */
footer {
    background-color: #6499E9;
    color: #ffffff;
    text-align: center;
    padding: 10px 0;
}

a {
    color: #ffffff;
    text-decoration: none;
}

/* Стили для поля ввода с текстом и крестиком */
#searchInput {
    position: relative;
}

#searchInput.hasValue {
    background-image: url('cross.png'); /* Путь к изображению крестика */
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 30px; /* Размер для крестика */
    
}

/* Дополнительные стили можно добавить по вашему желанию */
